OpenScenarioDrive-Linux-x86_64.AppImage
.venv 
.vscode

# Python cache
__pycache__/
*.pyc


# Ignore all files in the esmini-demo directory except results and scripts
esmini-demo/*
!esmini-demo/results/
!esmini-demo/results/**
!esmini-demo/scripts/
!esmini-demo/scripts/**

